/**~
 *  _nav-sliding.scss
 ~**/

// $sliding-panel-width: 466px;
.#{$css-prefix}content-sliding {
  &-container {
    position: fixed;
    top: 0;
    right: -466px;
    bottom: 0;
    left: auto;
    width: 466px;
    height: 100%;
    padding: 60px;
    overflow-y: auto;
    text-align: left;
    background: $white;
    z-index: 999;
    -webkit-overflow-scrolling: touch;

    &.is-visible {
      opacity: 0.4;
      visibility: visible;
    }

    @include bp-max($bp-s) {
      width: 320px;
      right: -320px;
    }
  }

  &-fade-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0;
    visibility: hidden;
    z-index: 888;

    &.is-visible {
      opacity: 0.4;
      visibility: visible;
    }
  }

  &-close {
    position: absolute;
    right: 10px;
    top: 20px;
  }
}

.#{$css-prefix}panel-menu {
  border-bottom: 1px dotted #b0c3e3;
  padding: 0 0 25px;

  li {
    border-bottom: 1px solid #e8edf7;
    list-style: outside none none;
    margin-bottom: 0;
    position: relative;
    line-height: 0.5;
    cursor: pointer;

    > a {
      display: block;
      font-size: $font-size-one-and-quarter--em;
      line-height: 50px;
      font-weight: 700;
      padding-left: 0;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &--sub {
    margin: 0 0 0 20px;

    li {
      > a {
        font-size: $font-size--rem;
      }
    }
  }
}

.#{$css-prefix}body {
  position: relative;

  &.active {
    overflow: hidden;
  }
}
